<% set1.cards.map(card => { %> 
  <div class="card-back card hide">
      <h3><%= card.answer %></h3>
    
      <div class="links-container">
        <h3>More Information:</h3>
        <% card.links.map(link => { %>
          <a href=`${link}`><%= link %></a><br>
        <% }) %>
      </div>  
    
      <div class="feedback-container">
        <div class="correct">Nailed it!</div>
        <div class="incorrect">Blew it!</div>
      </div>
  </div>
<% }) %>