<div class="card-back">

  <h2>Answer:</h2>
  <p><%= card.answer %></p>
  <br>
  <h2>More Info:</h2>
  <p><%= card.links %></p>

  <label for="effort">How hard was this question to answer?</label>
  <input type="radio" name="effort" value="easy - 100% correct">
  <input type="radio" name="effort" value="medium-easy - mostly correct">
  <input type="radio" name="effort" value="medium-hard - mostly incorrect">
  <input type="radio" name="effort" value="hard - 100% incorrect">
  <button type="submit">Submit</button>
</div>