<% result.map(card => { %> 
  <div class="card-back card hide">
      <h3><%= card.answer %></h3>
    
      <div class="links-container">
          <h3>More Information:</h3>
          <% console.log(card.links.split(',')) %>
          <% card.links.split(', ').map(link => { %>
            <a onClick="window.open(`<%= link %>`)"><%= link.slice(0, 30) %></a><br>
          <% }) %>
      </div>  
    
      <div class="feedback-container">
        <div class="correct">Nailed it!</div>
        <div class="incorrect">Blew it!</div>
      </div>
  </div>
<% }) %>