<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/create-set">Create</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/login-signup">Login/Signup</a></li>
  </ul>
</nav>