<nav>
  <ul>
    <% if (user) { %>
      <li><a href="/home" onclick="deleteSessionStorage()">Home</a></li>
      <li><a href="/create" onclick=deleteSessionStorage()>Create</a></li>
      <li><a href="/logout">Logout</a></li>
    <% } else { %>
      <li><a href="/" onclick="deleteSessionStorage()">Home</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/signup">Signup</a></li>
      <% } %>
    
    <li><a href="/about">About</a></li>
    
  </ul>
</nav>

<script>

  const deleteSessionStorage = () => {
    sessionStorage.clear()
  }

</script>