<div class="set-card card">
  <h1><%= result[0].subcategory %></h1>
  <h3><%= result[0].title %></h3>
  <h3>Author: <%= result[0].author %></h3>
  <p>There are <%= result.length %> cards in this set.</p>
</div>