<html lang="en">

<%- include('./partials/head.ejs') %>

<body>
  <%- include('./partials/header.ejs') %>
  <%- include('./partials/nav.ejs') %>

  <h2>About This Project</h2>
  <p>Smart Cards allows users to create custom flashcard sets and either keep them for their own private use, or make them public. Public card sets appear on the Home Page and are accessible by both logged-in and not-logged-in users. Private flashcard sets appear on the Home Page of logged-in users along with publically available sets.</p>
    
  <p>Logged-in users can also take advantage of Smart Cards' spaced repetition functionality by self-reporting their success (by clicking "Nailed it!") or failure (by clicking "Blew it!") when studying a particular card. With each successful attempt, a card is shown with less frequency so that only the cards that the learner needs to practice are shown in future sessions.</p>

  <!-- <p>To reset spaced repetition functionality for a set of cards, click "reset cards" before beginning a new study session.</p> -->

  <%- include('./partials/footer.ejs') %>
</body>
</html>