<html lang="en">

<%- include('./partials/head.ejs') %>

<body>
  <%- include('./partials/header.ejs') %>
  <%- include('./partials/nav.ejs') %>

  <h2>Create New Set</h2>

  <%- include('./partials/footer.ejs') %>
</body>
</html>