<html lang="en">

<%- include('./partials/head.ejs') %>

<body>
  <%- include('./partials/header.ejs') %>
  <%- include('./partials/nav.ejs') %>

  <main>

    <h3>login</h3>

  </main>

  <%- include('./partials/footer.ejs') %>

</body>
</html>