@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

body{
  max-width: 1200px;
  margin: 20px auto;
  padding: 0 20px;
  font-family: 'Noto Serif', serif;
}
main{
  text-align: center;
}
p, h1, h2, h3, a, ul{
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #222;
}
li{
  list-style-type: none;
}
nav{
  display: flex;
  justify-content:space-between;
  margin-bottom: 60px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
  text-transform: uppercase;
}
nav ul{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
nav li{
  list-style-type: none;
  margin-left: 20px;
}
nav p, nav a{
  color: #777;
  font-weight: 300;
}
header h1{
  text-align: center;
  font-size: 50px;
}
input{
  border: 1px solid #777;
  border-radius: 4px;
  margin: 10px 0;
  padding: 8px;
  
}
button{
  margin-top: 20px;
  background: rgb(161, 161, 164);
  color: white;
  padding: 8px;
  border: 0;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}
footer{
  color: #777;
  text-align: center;
  margin: 10px auto;
}
.browse{
  max-width: 800;
  margin: 30px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.browse h3{
  font-size: 30px;
  border-bottom: 1px solid black;
}
.browse h4{
  margin: 12px auto 0;
  font-size: 20px;
}
.browse a{
  padding: 0;
  margin: 0;
}
.browse a:hover{
  color: blue;
  cursor: pointer;
}
.browse-subject{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 250px;
  height: 200px;
  border-radius: 4px;
  padding: 15px;
  overflow-y: auto;
  border: 1px solid black;
}
.card-container {
  display: grid;
}
.card-container > * {
  grid-area: 1/1;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 15px auto 15px;
  padding: 20px 40px 20px;
  width: 500px;
  height: 250px;
  overflow-y: auto;
  background: #fff;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 8px;
}
.set-card{
  z-index: 1;
}
.feedback-container{
  display: flex;
  justify-content: space-evenly;
  height: 30px;
}
.correct{
  font-size: 1.25em;
  width: 50%;
  height: 100%;
  border-right: 2px solid black;
}
.incorrect{
  font-size: 1.25em;
  width: 50%;
  height: 100%;
}
.correct:hover, .incorrect:hover{
  cursor: pointer;
  color: indigo;
}
.create-set-container form{
  max-width: 400px;
  margin: 0 auto;
}
.create-set-container input{
  display: block;
  width: 100%;
}
.create-set-container label{
  display: block;
  margin-top: 24px;
}
.public-label{
  position: relative;
  left: 25px;
  bottom: 22px;
}
#public{
  position: relative;
  right: 190px;
  top: 20px;
}
.set-info{
  max-width: 400px;
  margin: 0 auto;
}
.add-link-button{
  margin: -5px auto 5px;
}
.links-container a:hover{
  cursor: pointer;
  color: blue;
}
.added-links{
  border: 1px solid black;
  border-radius: 4px;
  height: 75px;
  overflow: scroll;
}
.added-links p{
  font-size: .75em;
  margin-top: 5px;
  color: gray;
}
.hide{
  display: none;
}
